.weather-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 0.5rem;
    min-width: 5em;
    min-height: 6em;
}

.weather-tile .weather-day {
    flex: 10;
    font-size: 1em;
}

.weather-tile .weather-time {
    flex: 10;
    font-size: 0.8em;
    color: gray;
}

.weather-tile .wi {
    flex: 70;
    font-size: 2em;
    padding-top: 0.16em;
    padding-bottom: 0.16em;
}

.weather-tile .weather-temperature {
    flex: 10;
    font-size: 1em;
}
